*{
  box-sizing: border-box;
}

body {
  background-color: #1E1E55;
  /* margin: 0; */
  min-height: 100vh;
  font-family: monospace;
}

header {
  background-color: #1E1E55;
  color: #52b9ba;
  display: fixed;
  height: auto;
  width: 101vw;
  margin: -10px 0 0 -10px;
  padding: 0.5em 0;
  text-align: center;
  font-size: 3em;
}

footer {
  position: relative;
  clear: both;
  width: 101vw;
  bottom: -10px;
  left: -10px;
  background-color: #52b9ba;
  height: auto;
  color: #1E1E55;
  text-align: center;
  padding: 0.25em;
}

.title{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  color: #52b9ba;
}

section .title {
  margin-top: 0;
  font-size: 20px;
  color: #1E1E55;
}

main>ul {
  list-style: none;
}

section {
  float: left;
  box-shadow: 2px 3px 2px 3px rgb(32, 32, 32, 0.5);
  border-radius: 30px 10px;
  background-color: hsla(267, 3%, 70%, .9);
  margin: 1em 3em 1em 0em;
  padding: 1em;
  color: #1E1E55;
  width: 60%;
}

.inline {
  border-radius: 20px;
  clear: none;
  float: left;
  margin: 0px 0.5em;
  font-size: 2em;
  max-width: 45%;
}

#extras {
  float: right;
  width: 34%;
  min-height: 80vh;
}

#numberCorrect {
  font-size: 1.5em;
  text-decoration: strong;
}

#numQuestions {
  font-size: 1.5em;
  text-decoration: strong;
}